.remove-btn {
    margin-right: 0.5rem;
}

.list-group-item.fade {
    opacity: 1 !important;
}

.enter {
    opacity: 0.01;
}

.enter-done {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.exit {
    opacity: 1;
}

.exit-done {
    opacity: 0.01;
    transition: opacity 1000ms ease-out;
}